# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Generated model files
outputs/models/

# Raw and generated data
data/raw/*
data/interim/*
data/processed/*

# Keep empty directories in Git
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep


# Environment and system files
.env
.DS_Store
Thumbs.db